# Virtual muhit
venv/
.venv/
env/

# Python keshlari
__pycache__/
*.py[cod]
*$py.class

# Maxfiy sozlamalar
.env
serviceAccountKey.json
firebase-key.json
*firebase*.json

# SQLite ma'lumotlar bazasi (server o'zida yaratadi)
*.db
*.sqlite3

# Tizim fayllari
.DS_Store
Thumbs.db

Signal_books_Bot/
